@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
	font-size: 20px;
	color: #373A3C;
}

body {
	background-color: #FFF;
	overflow-x: hidden;
}

header,
footer,
section,
article {
	width: 100%;
	float: left;
	position: relative;
}

.swal2-popup {
	width: 100%;
	max-width: 500px;

	h2.swal2-title {
		font-size: 35px;
	}
}

@media (max-width: $screen-sm) {
	
	.swal2-popup {

		h2.swal2-title {
			font-size: 25px;
		}
	}
}