header {
  z-index: 1;

  .navbar-default {
    margin-bottom: 0px;
    padding: 0px;
    border: none;
    background: #FFF;

    .navbar-header {

      .navbar-brand {
        height: auto;

        img {
          max-width: 250px;
        }
      }
    }

    .navbar-collapse {
      padding-top: 35px;

      .navbar-nav {

        li {
          padding: 0px 15px;

          a {
            padding: 12px 0px 3px 0px;
            font-size: 14px;
            color: #777777;
            border-bottom: 1px solid #FFF;
            
            &:hover {
              border-bottom: 1px solid #777777;
            }

            .icon-cart {
              font-size: 13px;
              color: #777777;
            }
          }
        }
      }
    }

  }
}

@media (max-width: $screen-sm) {

  header {

    .navbar-default {

      .navbar-header {

        .navbar-brand {

          img {
            max-width: 200px;
          }
        }

        .navbar-toggle {
          margin-top: 25px;
          border-color: #777777;
        }
      }

      .navbar-collapse {
        padding-top: 0px;

        .navbar-nav {

          li {

            a {
              padding: 15px 0px;
              text-align: center;
              font-size: 22px;

              .icon-cart {
                font-size: 19px;
              }
            }
          }
        }
      }
    }
  }
}